// Resetting style

* {
   padding: 0;
   margin: 0;
   //border: 0;
   &, &::before, &::after {
      box-sizing: border-box;
   }
 }
 
 a {
   color: inherit;
   text-decoration: none;
 }
 
 ul li {
   list-style: none;
 }
 
 img {
   vertical-align: top;
 }
 
 h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: inherit;
 }
 
 button, input, textarea, select {
   font-family: inherit;
   font-size: inherit;
   cursor: pointer;
 }

// blocks

// variables

$pc: 1440px;
$tablets: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;


// colors

$textColor: #211a1d;
$primaryColor: #6320ee;
$secondaryColor: #cad4ca;
$accentColor: #8075ff;
$backgroundColor: #f8f0fb;



 // Main styles
 
 html, body {
   height: 100%;
   min-width: 320px;
   background-color: $backgroundColor;
   scroll-behavior: smooth;
   accent-color: $accentColor;
 }
 
 html {
   font-size: 62.5%;
 }
 
 body {
   font-size: 2.0rem;
   font-family: Roboto, sans-serif;
   color: $textColor;
   &.scroll-lock {
      //overflow: hidden;
      user-select: none
   }
 }


// modules

.wrapper {
   height: 100%;
   width: 100%;
   //overflow: hidden;
   // display: flex;
   // flex-direction: column;
   padding: 30px 0px;
}


[class*="__container"] {
   max-width: $tablets;
   padding-left: clamp(1.0rem, 4vw, 6.0rem);
   padding-right: clamp(1.0rem, 4vw, 6.0rem);
   margin: 0 auto;
   display: grid;
   grid-template-columns: minmax(min-content, 1fr) minmax(100px, 30%);
   grid-template-rows: min-content auto;
   column-gap: 10px;
   height: 100%;
   @media (max-width: $smallMobile) {
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 10px;
   }
}

.title {
  max-width: 100%;
  white-space: wrap;
  font-size: clamp(2.8rem, 10vw - 2.0rem, 48px);
  line-height: 100%;
  position: relative;
}

.subtitle {
  position: relative;
  display: inline-block;
  p {
   letter-spacing: 1.12px;
  }
}

.btn {
   padding: 5px 10px;
}

input, textarea {
   font-size: 2.0rem;   
}


// modal popup

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
   background-color: $secondaryColor;
   margin: 10px clamp(1.0rem, 4vw, 3.0rem);
   padding: 20px;
   border: 1px solid #888;
   //width: 80%;
   min-height: 50%;
   max-width: 600px;
   //text-align: center;
  }
  &__title, &__subtitle {
   margin-bottom: 20px;
   text-align: center;
  }
  &__form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      input {
         width: auto;
         padding: 3px 5px;
      }
      button {
         width: max-content;
         align-self: center;
      }
   }
   &__players, &__settings {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      column-gap: 50px;
      row-gap: 10px;
      text-align: center;
   }
   &__settings {
      align-items: end;
      
   }
   &__player-block, &__settings-block {
      flex: 1 0 45%;
      input {
         width: 100%;
         max-width: 200px;
      }
      input:not(:last-child) {
         margin-bottom: 10px;
         min-width: 135px;
      }
      input:last-of-type {
         width: 3ch;
         height: 4rem;
         text-align: center;
      }
      label:last-of-type {
         text-wrap: nowrap;
      }
   }
}
  

// main screen
.page {
   flex: 1;
   height: 100%;
   &__player-turn {
      margin-bottom: 30px;
   }
   &__board {
      grid-column: 1 / 2;
      align-self: center;
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      max-width: 450px;
      aspect-ratio: 1;
      width: 100%;
      font-size: clamp(14px, 4vw,20px);
   }
}

.board__row {
   min-height: fit-content;
   display: flex;
   // flex: 1;
}

.board__cell {
   min-width: 20px;
   width: 100%;
   flex: 1 1 33%;
   aspect-ratio: 1;  
}

.page {

   /* .page__aside */

   &__aside {

   }
}
.aside-page {
   align-self: center;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 20px;
   font-size: clamp(1.6rem, 6vw - 2.0rem, 2.2rem);

   /* .aside-page__players */

   &__players {
   }

   /* .aside-page__player */

   &__player {
      text-wrap: nowrap;
   }

   /* .aside-page__results */

   &__results {
   }

   /* .aside-page__result */

   &__result {
   }

   /* .aside-page__wins */

   &__wins {
   }

   /* .aside-page__button */

   &__button {
      width: fit-content;
   }
}
